<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Modulo de apartado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
  <div class="m-3">
    <div >
      <h1 class="text-center">Modulo de apartado </h1>
      <h2>Secciones</h2>
    </div>

    <%sections.forEach(function(con) {%>

    <p>Nombre: <%=con.name%></p>
    <p>Telefono: <%=con.dimensions%></p>
    <p>Correo: <%=con.price%></p>
    <hr>
    <%});%>
  </div>
  </body>
</html>
